@import "base/base";

.intro {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/terra_forma_home.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  color: steelblue;
}

img#logo {
  width: 20vw;
  height: auto;
}

.intro-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    letter-spacing: 1em;
    margin-top: 3em;
  }
}

.section {
  width: 100vw;
  min-height: 100vh;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overview {
  position: relative;
}

.section-text-and-image {
  display: flex;
  .text, .image {
    width: 50%;
    padding: 3em;
  }
  .text {
    z-index: 100000;
    h2 {
      color: white;
      font-size: 2.5em;
      line-height: 2.8em;
      letter-spacing: 0.25em;
      z-index: 100000;
    }
    p {
      color: white;
      font-size: 1.8em;
      line-height: 2em;
      letter-spacing: 0.1em;
      z-index: 100000;
      a {
        z-index: 100000;
        text-decoration: none;
        text-transform: uppercase;
        color: lightgreen;
        letter-spacing: 0.3em;
      }
      a.link-on-white-background {
        color: hotpink;
      }
    }
  }

  .image {
    a {
      img {
        width: 100%;
        height: auto;
      }
      img.img-process {
        width: 75%;
        height: auto;
      }
      img.city-image {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
  .image-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.img-solution, .img-process, .img-challenge, .img-results {
  margin-top: 6em;
}

#overview, #results {
  background-color: #FFFFFF;
  .section-text-and-image {
    .text {
      h2, p {
        color: #000000;
      }
    }
  }
}

#challenge {
  background-color: #415D43;
}

#process {
  background-color: #2E5266;
}

#solution {
  background-color: #000000;
}
